@font-face {
  font-family: Jaldi;
  src: url(../assets/Jaldi-Regular.ttf);
}

:root {
  --grey-lightest: #f7f9fa;
  --white: #ffffff;
  --grey: #c8d1dc;
  --dark-grey: #6b7785;
  --dark-blue: #1f2d3d;
  --dark-blue-border: #2b3f56;
  --green: #72cc18;
  --blue-bright: #3988ff;
  --blue-dark: #4673e9;
  --black: #1f1f1f;
  --grid-black-bg: rgba(0,0,0,0.1);
  --grid-red-bg: rgba(255,0,0,0.1);
  --red-bright: #ff0000;
  --red-dark: #97150d;
  --gold: #e3c421;
  --font-family: Jaldi, "Helvetica Neue", Sans-Serif;
  --grid-bg: linear-gradient(to right, var(--grid-red-bg) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-red-bg) 1px, transparent 1px),
    linear-gradient(to right, var(--grid-black-bg) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-black-bg) 1px, transparent 1px);
  --grid-bg-size: 10px 10px, 10px 10px, 5px 5px, 5px 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  /* overflow: hidden; */
}

.header {
  background-color: #fff;
  min-width: 100%;
  height: 52px;
  position: fixed;
  top: 0;
  box-shadow: inset 0px -1px 0p var(--grey);
  border-bottom: 1px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-header {
  display: flex;
  align-items: center;
  width: 325px;
  margin-left: 16px;
}

.daily-logo {
  height: 24px;
  width: 60px;
  margin-right: 24px;
}

.header-title {
  font-size: 12px;
  line-height: 16px;
  font-family: var(--font-family);
}

.right-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 24px;
}

.title {
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}

.docs-button {
  justify-content: space-between;
}

.white-button {
  color: var(--dark-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--white);
  border: 1px solid var(--grey);
  padding: 8px 16px;
  border-radius: 8px;
  flex: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.divider {
  background: var(--grey);
  margin: 0 16px;
  display: block;
  height: 32px;
  width: 1px;
}

.octocat {
  height: 24px;
  width: 24px;
}

#container {
  width: 100%;
  height: calc(100% - 52px);
  top: 52px;
  background: linear-gradient(
    180deg,
    var(--blue-dark) 0%,
    var(--red-dark) 100%
  );
  position: relative;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 16px;
}

#call {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#world {
  display: block;
  width: 100%;
  height: 100%;
}

#entry {
  width: 300px;
  height: 228px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

#entry .prompt {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 20px;
}

#entry input {
  width: 280px;
  height: 32px;
  padding: 8px 16px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: 1px solid var(--grey);
  font-family: var(--font-family);
}

#entry button {
  width: 280px;
  height: 32px;
  padding: 8px 16px;
  font-weight: bold;
  background: var(--green);
  border-radius: 8px;
  border-width: 0px;
  cursor: pointer;
}

.fit {
  /*  object-fit: cover; */
  width: 100%;
  height: 100%;
}

.contain {
  /* object-fit: contain; */
  width: 100%;
  height: 100%;
}

#create-game-form {
  display: block;
  width: 200px;
}

#join-game-form {
  display: block;
  width: 200px;
}

#lobby {
  display: flex;
}

input {
  display: block;
  width: 100%;
}

.destroyed {
  display: none;
}

h2 {
  color: #00c9df;
}

#game {
  display: flex;
  flex-direction: column;
  margin-top: 52px;
  width: 100%;
}

.team button {
  border: 2px solid var(--black);
  box-shadow: 0px 4px 0px var(--black);
  border-radius: 16px;
  width: 100%;
  height: 64px;
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 41px;
  background: var(--grid-bg), white;
  background-size: var(--grid-bg-size), cover;
  text-align: center;
}

#team1 button {
  color: var(--red-bright);
}

#team2 button {
  color: var(--blue-bright);
}

.team button:hover {
  background-color: var(--gold);
  color: var(--black) !important;
}

#board button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 3px;

  width: 100px;
  height: 64px;
  border: 2px solid var(--black);
  box-shadow: 0px 4px 0px var(--black);
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 1;
  background: var(--grid-bg),
    linear-gradient(
      106.36deg,
      #f7eede 12.54%,
      #ffffff 12.99%,
      #ffffff 17.86%,
      #f7eede 18.05%,
      #f7eede 23.55%,
      #ffffff 23.59%,
      #ffffff 31.3%,
      #f7eede 31.38%,
      #f7eede 82.94%,
      #ffffff 82.98%,
      #ffffff 87.8%,
      #f7eede 88.15%
    ),
    #f7eede;
  background-size: var(--grid-bg-size), 164px 64px, 164px 64px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: var(--black);
  opacity: 1;
}

#board button.team2 {
  background: linear-gradient(106.36deg, #3988FF 12.54%, #95B9EF 12.99%, #95B9EF 17.84%, #3988FF 17.85%, #3988FF 23.55%, #95B9EF 23.56%, #95B9EF 31.3%, #3988FF 31.31%, #3988FF 82.94%, #95B9EF 82.95%, #95B9EF 87.8%, #3988FF 87.81%), #3988FF;
}

#board button.team1 {
  background: linear-gradient(106.36deg, #FF0000 12.54%, #EF8686 12.55%, #EF8686 17.86%, #FF0000 17.87%, #FF0000 23.55%, #EF8686 23.56%, #EF8686 31.3%, #FF0000 31.31%, #FF0000 82.92%, #EF8686 82.93%, #EF8686 87.8%, #FF0000 87.81%);
}

#board button:hover:enabled {
  opacity: 1;
  cursor: pointer;
  border: 2px solid var(--gold);
  box-shadow: 0px 4px 0px var(--gold);
}

#controls {
  display: flex;
  /* position: absolute; */
  /* z-index: 5; */
  /* flex-direction: row; */
  align-items: center;
  height: 56px;
}

#toggleCam,
#toggleMic,
#toggleScreenShare {
  width: 64px;
  height: 64px;
  border: 2px solid var(--black);
  box-shadow: 0px 4px 0px var(--black);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
}

#leave {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background-image: linear-gradient(
      to right,
      var(--red-bright) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--red-bright) 1px, transparent 1px);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: none;
  width: 95px;
  height: 32px;
}

#controls button {
  margin: 0 5px;
  cursor: pointer;
}

#controls .cam-on {
  background-image: url("./assets/camera.svg");
  background-size: 24px 24px, var(--grid-bg-size), cover;
  background-position: center;
  background-repeat: no-repeat, repeat, no-repeat;
}

#controls .cam-off {
  background: url(./assets/camera-off.svg), var(--grid-bg), white;
  background-size: 24px 24px, var(--grid-bg-size), cover;
  background-position: center;
  background-repeat: no-repeat, repeat, no-repeat;
}

#controls .mic-on {
  background-image: url("./assets/microphone.svg");
  background-size: 24px 24px, var(--grid-bg-size), cover;
  background-position: center;
  background-repeat: no-repeat, repeat, no-repeat;
}

#controls .mic-off {
  background-image: url("./assets/microphone-off.svg");
  background-size: 24px 24px, var(--grid-bg-size), cover;
  background-position: center;
  background-repeat: no-repeat, repeat, no-repeat;
}

#toggleCam:hover,
#toggleMic:hover {
  background-color: var(--red-bright);
}

#team1 {
  background-color: var(--red-bright);
}

#team2 {
  background-color: var(--blue-bright);
}

.team .teamLabel {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
}


.tiles .tile video {
  width: 100px;
  height: 100px;
  object-fit: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  border-radius: 16px;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 16px 20px;
  gap: 8px;
  border: 2px solid var(--black);
  box-shadow: 0px 4px 0px var(--black);
  border-radius: 16px;
  width: 248px;
  max-height: 457px;
  background: var(--grid-bg);
  background-size: var(--grid-bg-size);
}

.team .tiles {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tiles .tile {
  position: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 105px;
  height: 100px;
  border: 2px solid #1F1F1F;
  filter: drop-shadow(0px 4px 0px #1F1F1F);
  border-radius: 16px;
  background-image: linear-gradient(45deg, #121a24, #2b3f56);
}

.name {
    z-index: 1;
    color: white;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: calc(100% - 20px);
    left: 0;
    right: 0;
    text-align: center;
}

.team .tiles .spymaster {
  border-color: #f79400 !important;
}

.team h2 {
  color: #e2fbfd;
}

.team h3 {
  color: #e2fbfd;
}
.active {
  color: green;
}
/*
button {
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  height: auto;
  cursor: pointer;
  margin: 1px;

  background: #1bebb9;
  opacity: 0.6;
  border-radius: 8px;
  border: none;
}

button:hover:enabled {
  opacity: 1;
  cursor: pointer;
} */
body {
  background-color: #2b3f56;
}

#observers .tiles {
  width: 100%;
  display: flex;
}

#observers {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
}

#top {
  display: flex;
  width: 100%;
  justify-content: center;
}
#bottom {
  display: flex;
  flex-direction: column;
}
#board {
  width: 816px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.invisible {
  display: none !important;
}

.hidden {
  visibility: hidden;
}
